<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%threadName: %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</console>
	</appenders>
	<loggers>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
		<logger name="es.prodevelop" level="debug" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.springframework" level="off" additivity="false">
			<appender-ref ref="Console" />
		</logger>
	</loggers>
</configuration>
